<ion-menu [content]="sideMenuContent">
    <ion-header>
        <ion-toolbar text-center>
            <h2>Menu</h2>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
                <button ion-item (click)="onLoad(tabsPage)" *ngIf="signin == true">
                        <ion-icon name="quote" item-left></ion-icon>
                        Quotes
                    </button>
                    <button ion-item (click)="onLoad(settingsPage)" *ngIf="signin == true">
                        <ion-icon name="settings" item-left></ion-icon>
                        Settings
                    </button>
                    <button ion-item (click)="onLoad(signinPage)" *ngIf="signin == false">
                        <ion-icon name="log-in" item-left></ion-icon>
                        Sign In
                    </button>
                    <button ion-item (click)="onLoad(signupPage)" *ngIf="signin == false">
                        <ion-icon name="person-add" item-left></ion-icon>
                        Sign Up
                    </button>
                    <button ion-item (click)="logout()" *ngIf="signin == true">
                        <ion-icon name="log-out" item-left></ion-icon>
                        Log Out
                    </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #sideMenuContent></ion-nav>